.vistalista{
    display: inline;
    
    top: 0;
    color: #229954;
    font-family: Arial;
    font-size: 125%;
}
footer{
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background-color: red;
    font-size: 30px;
    color: white;
    text-align: center;
}